// DMPOnline CSS Styles, based on Active Admin
@import "dmponline/mixins";
@import "dmponline/base";


#wrapper {
  min-width: 780px;
  .static_body {
    margin: 0 5%;
  }
}

#header { 
  @include gradient($white, $evenrow);
  border-bottom: 1px solid $green;
  position: relative;
  padding: 17px 30px 15px 30px;
  
  img {
    padding-right: 40px; 
    vertical-align: bottom;
  }
  
  @include text-shadow($lightgrey);
  a, a:link { color: $orange; }
  
  .header-item {
    float: none;
    top: 2px;
  }
  
  ul#tabs {
    font-weight: bold;
    vertical-align: bottom;
    
    & > li { 
      padding-top: 1em;
      
      &.current > a, a.current {
        background: $orange;
        color: $offwhite;
        @include text-shadow(darken($orange, 12%));
      }
  
      &.has_nested.current > a { 
        background-color: $orange; 
        color: $offwhite;
        @include text-shadow(darken($orange, 12%));
      }
  
      &:hover > a { 
        background: $orange;
        color: $offwhite;
        @include text-shadow(darken($orange, 12%));
      }
  
      &.has_nested:hover > a { 
        border-bottom: 5px solid $orange;
        background-color: $orange;
        color: $offwhite;
        @include text-shadow(darken($orange, 12%));
      }
    }
  }

  #utility_nav { 
    color: $grey;
    a, a:link, a:visited { color: $green; }
    a:hover { color: $orange; }
    .current_user {
      a, a:link, a:visited { color: $grey; }
      a:hover { color: $orange; }
    }
    a, span { 
      margin-right: 10px;
    }
    right: 22px;
    top: 10px;
    margin: 0 0;
  }
  
  #help_menu {
    position: absolute;
    top: 3em;
    right: 25px;
    float: right;
    margin-right: 0;
    font-size: 0.83em;
    color: $grey;
    a, a:link { color: $grey; }
    a:hover { color: $orange; }
    a {
      display: inline-block;
      text-decoration: none;
      padding: 6px 7px 4px 7px;
      position: relative;
    }
  }
}


form {
  input[type=submit], button[type=submit] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    display: inline-block;
    @include green-button;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.6em 1.4em 0.5em 1.3em;
    margin-top: -0.6em;
  }

  fieldset.buttons li.cancel a {
    @include red-button;
  }

  a[data-method=delete] {
    @include red-button;
  }
  
  &.user_new {
    padding-bottom: 5em;
  }
}

.plan_right_column {
  float: right;
  width: 37%;
  margin-right: 1px;
  label {
    width: 100%;
    text-align: left;
  }
  fieldset.choices {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  label input {
    margin: 2px 0 4px 10px;
  }
  .description {
    margin: 0 0 1em 2.5em;
  }
  li.template_name {
    font-weight: bold;
    font-size: 120%;
  }
}
.plan_left_column {
  float: left;
  width: 60%;
}
.plan_footer {
  clear: both;
}

.flash {
  p {
    margin: 0 0 0.5em;
  }
  ul, ol {
    margin: 0 0 0 2em;
  }
}
p.error {
  margin: 0 3em 0.5em 3em;
  font-weight: bold;
  color: $error-color;
}

.icon-button {
  @include green-button;
  &:hover { 
    @include gradient(lighten($orange, 5%), darken($orange, 5%));
  }
  
  display: inline-block;
  float: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-right: 10px;
  white-space: nowrap;
  line-height: 3em;
}

.jisc_logo {
  float: right;
  clear: both;
  margin:30px 0px 30px 0px;
  a {
    background: url(jisc_logo.png) no-repeat left top;
    width: 84px;
    height: 62px;
    display: block;
    span {
      display: none;
    } 
  }
}

abbr {
  display: none;
  border: none;
}


/* the overlayed element */
#login_overlay { 
  /* initially overlay is hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index: 10000;
  
  /* growing background image */
  background-image: url('white.png');
  
  /* 
    width after the growing animation finishes
    height is automatically calculated
  */
  width: 440px;
  
  /* some padding to layout nested elements nicely  */
  padding: 35px;

  /* default close button positioned on upper right corner */
  .close {
    background-image: url('close.png');
    position: absolute; 
    right: 5px; 
    top: 5px;
    height: 35px;
    width: 35px;
  }
  
  input[type=text], input[type=password] {
    width: 60%;
  }
  label {
    width: 25%;
  }
}

.outer_wrapper {
  padding: 25px 30px;
}

a.view_link, a.edit_link, a.create_link {
  @include green-button;
}

a.delete_link, a.cancel_link, a.lock_link {
  @include red-button;
}

a.nav_link {
  @include orange-button;
}

span.disabled_link {
  @include light-button;

  margin-right: 10px;
  white-space: nowrap;
}

.buttons.indent {
  padding-left: 15%;
}
.front {
  float: left;
  margin-right: 400px;
  
  ul.menuitem {
    padding-top: 2em;
    list-style: none;
    
    li {
      font-size: 150%;
      font-weight: bold;
      line-height: auto;
      padding: 12px 0 12px 48px;
      background: url(arrow_right.png) no-repeat left center;
    }
  }
}
#sidebar {
  float: right;
  width: 370px;
  margin-left: -370px;
}

table.index_table.plans {
  tr.open {
    td {
      font-weight: bold;
    }
  }
  tr.locked {
    td {
      font-weight: normal;
    }
  }
  td {
    vertical-align: middle;
    &.actions {
      padding: 10px 0;
    }
  }
  td.actions {
    padding: 8px 0 8px 2px;
  }
}


dl.phases {
  padding-bottom: 0;
  margin-bottom: 0;
  > dt {
    font-size: 150%;
  }
  > dd > ol {
    overflow: auto;
    padding: 0 0;
    display: block;
    border-bottom: 2px solid $grey;
    padding-bottom: 15px;
    list-style: none;
    > li {
      overflow: auto;
      float: left;
      padding: 5px 0 5px 36px;
      background: url(arrow_right.png) no-repeat left center;
      &:first-child {
        padding-left: 0;
        background-image: none !important;
      }
      > div, > a > div {
        font-weight: normal;
        float: left;
        min-height: 5em;
        min-width: 10em;
        max-width: 15em;
        text-align: center;
        @include light-button;
        &.current {
          @include gradient(lighten($orange, 5%), darken($orange, 5%));
          @include icon-color($offwhite);
          color: $offwhite;
          @include text-shadow(darken($orange, 12%));
        }
        &:hover { 
          color: $offwhite; @include icon-color($offwhite);
          @include gradient(darken($orange, 5%), lighten($orange, 5%));     
          @include text-shadow(darken($orange, 12%));   
        }
        .explain {
          display: none;
        }
        .phase {
          font-size: 150%;
          font-weight: bold;
          display: block;
        }
        .edition {
          display: block;
        }
      }
    }
  }
}
p.phase_guide {
  margin: 0 0 0 20px;
}

div.progress_bar {
  height: 6px;
  width: 100px;
  padding: 0 0;
  margin: 6px auto;
  background: $offwhite;
  border: 1px solid $grey;
  text-align: left;
  .progress {
    height: 6px;
    margin: 0 0;
    background: $green;
    border: none;
  }
}

div.link_spacing {
  padding-bottom: 3em;
  &.top {
    float: right;
    padding-top: 3.5em;
  }
  .right {
    float: right;
  }
}

ul.news {
  .title {
    font-weight: bold;
    a {
      color: $green;
    }
  }
}
.posts {
  max-width: 750px;
  h2 {
    margin-bottom: 0.2em;
  }
}
.post_body {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $green;
}
.document_box {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $green;
  margin: 0 8% 1em 8%;
  
  .document_link {
    width: 6em;
    float: left;
    .download_link {
      float: left;
      clear: left;
    }
  }
  .document_text {
    margin-left: 7em;
    & > div {
      margin-bottom: 0.5em;
    }
    .document_name {
      font-weight: bold;
      font-size: 110%;
    }
  }
}
.pagination {
  float: right;
}

.mceEditor table.mceLayout {
  width: 400px;
}

#templates .top .description {
  overflow: auto;
  img.org-logo {
    float: right;
  }
}
.accordion {
  .ui-accordion-header {
    .ui-icon {
      display: inline-block;
      vertical-align: middle;
    }
  }
  h3 {
    a {
      color: $grey;
    }
    &.ui-state-active {
      @include gradient($white, #f7f7f7);
      a {
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .description {
    padding: 0 0 1em 10em;
  }
  .sections {
    whitespace: no-wrap;
    overflow: auto;
    > ol {
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      border-top: 1px solid $grey;
      width: 8em;
      padding: 0 0;
      margin: 0 -1px 0 0;
      float: left;
      position: relative;
      z-index: 900;
      
      li {
        @include gradient($white, #f7f7f7);
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 1em;
        width: 7em;
        border-bottom: 1px solid $grey;
        
        a {
          width: 7em;
          padding: 3px 1em 3px 0;
          display: inline-block;
          font-weight: bold;
        }
        
        &.ui-tabs-selected {
          @include no-gradient;
          padding-right: 0;
          background-color: $orange;
          a {
            color: $offwhite;
            background: url("menu-on.gif") no-repeat scroll right center transparent;
            border: 0 none;
            margin-right: -18px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .answers {
    @include gradient($white, #f7f7f7);
    border: solid $grey 1px;
    overflow: auto;
    display: block;
    min-width: 500px;
    padding: 10px 20px;
    position: relative;

    .heading .guidance {
      img {
        position: absolute;
        float: left;
        top: 10px;
      }
    }
    
    .question {
      padding: 0 20px 0 40px;
      margin-bottom: 1.5em;
      font-size: 150%;
      font-weight: bold;
      span.number {
        color: $grey;
        padding-right: 2em;
        display: block;
        float: left;
      }
      span.text {
        display: inline-block;
        width: 75%
      }
    }
    fieldset {
      padding-top: 0;
      padding-bottom: 0;
    }
    .answer {
      margin-bottom: 1em;
      fieldset.buttons, fieldset.actions {
        margin-top: 0;
        padding-bottom: 20px;
        ol {
          float: right;
        }
      }
      td fieldset {
        margin-bottom: 0;
        padding: 0 0;
        background: none transparent;
        border: none transparent;
        box-shadow: none;
      }
    }
    .index_table {
      tr.even td {
        background: $evenrow;
      }
      td {
        &.question-area {
          width: 25%;
          font-size: 110%;
          font-weight: bold;
        }
        &.input-area {
          textarea {
            width: 90%;
            height: 100px;
          }
          input {
            width: 90%;
          }
        }
        &.guidance-area {
          width: 20%;
          
          li {
            padding: 10px 0;
          }
          .guidance-button {
            img {
              padding-left: 10px;
            }
            float: right;
          }
        }
      }
    }
  }
  .ui-tabs-hide {
    display: none;
  }
}

.ui-dialog {
  &.ui-widget { 
    font-size: 1.1em;
    .ui-widget { font-size: 1em; }
    .input, select, textarea, button { font-size: 1em; }
    @include shadow(0, 1px, 8px);
  }
  .ui-widget-content { border: 1px solid $orange; background: #000 url(jquery_ui/ui-bg_highlight-soft_100_000000_1x100.png) 50% top repeat-x; color: $offwhite; }
  .ui-widget-content a { color: $orange; }
  .ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(jquery_ui/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
  .ui-widget-header a { color: #ffffff; }
  .ui-icon-gripsmall-diagonal-se, .ui-icon-grip-diagonal-se {
    background-image: url(jquery_ui/ui-icons_ffffff_256x240.png);
  }
}

table.checklist {
  td {
    padding: 10px 10px;
    &.number {
      font-weight: bold;
      color: $grey;
    }
  }
  tr.top-level.h {
    td {
      background: $grey;
      color: white;
      font-size: 120%;
      font-weight: bold;
    }
  }
  tr.h td {
    font-size: 120%;
    font-weight: bold;
  }
}

.preloader {
  background: #f4f4f4;
  border: $grey 3px solid;
  min-height: 70px;
  min-width: 300px;
  padding: 40px 50px 10px 50px;
  position: absolute;
  left: 12em;
  top: 10px;
  white-space: nowrap;
  img {
    vertical-align: middle;
    padding-right: 30px;
  }
  span {
    font-size: 200%;
    color: $grey;
    font-weight: bold;
    padding-right: 80px;
    vertical-align: middle;
  }
}
.sections.ui-tabs {
  min-height: 200px;
}

td.question-area {
  div {
    position: relative;
    &.dcc_question {
      min-height: 95px;
    }
    &.dcc_number {
      color: $grey;
      font-weight: normal;
    }
  }
}
a.hide-link {
  color: $grey;
  font-size: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
}
td.input-area {
  ol.choices-group {
    padding-left: 0;
    label {
      input {
        width: auto !important;
      }
    }
    li {
      padding-top: 30px;
      width: 30%;
    }
  }
}

.output {
  .actions {
    margin-left: 25%;
  }
  .output-format {
    margin-bottom: 2em;
  }
}

fieldset.collapsible legend, dl.boilerplate dt {
  cursor: pointer;
  span {
    vertical-align: top;
    &.ui-icon {
      padding: 0 0;
      margin: 0 1em 0 0;
      display: inline-block;
    }
  }
}
dl.boilerplate {
  margin-bottom: 0;
  dt {
    color: $green;
  }
  ul {
    max-height: 400px;
    overflow: auto;
  }
  dd li {
    border: 1px solid $green;
    padding: 2px 4px;
    margin: 2px 0 0 16px;
  }
}

table.index th a {
  color: $grey;
  &.current {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  &.asc {
    background-image: url(asc.gif)
  }
  &.desc {
    background-image: url(desc.gif)
  }
}


ol.ui-sortable, fieldset.cocoon > ol {
  img.handle {
    float: left;
  }
  li.nested-fields {
    ol {
      padding: 8px 8px 2px 4px;
      vertical-align: baseline;
      width: 100%;
      li {
        width: 90%;
        float: left;
        label {
          position: relative;
          left: 60px;
          width: 15%;
        }
        label.question_label {
          width: 100%;
          left: 10px;
          text-align: left;
          input[type=checkbox] {
            width: auto;
            left: 0;
          }
          .item {
            padding-left: 40px;
          }
        }
        input {
          position: absolute;
          left: 20%;
          width: 70%;
        }
        textarea {
          position: relative;
          left: 22%;
          width: 75%;
          margin-bottom: 5px;
        }
      }
    }
  }
  .links a {
    padding-left: 12px;
  }
  .link > a {
    display: inline-block;
    float: left;
    position: absolute;
    left: 45px;
    right: 15em;
  }
}
form {
  fieldset.inputs.output {
    margin-bottom: 10px;
    padding: 0 0 10px 0;
  }
}
.output form .panel td {
  input, select {
    margin: 0 0;
  }
  .hint {
    font-style: italic;
  }
}

.drag-button {
  @include default-button;
  @include gradient(lighten($green, 5%), darken($green, 5%));        
  @include icon-color($offwhite);
  color: $offwhite;
  @include text-shadow(darken($green, 12%));
  border: none;

  &:hover { 
    color: $white; 
    @include icon-color($white);
    @include no-shadow; 
    @include gradient(darken($orange, 5%), lighten($orange, 5%));          
  }

  padding: 6px 6px;
  margin: 0 0;
  white-space: nowrap;
  display: inline-block;
  clear: none;
  float: left;
}

h2.step {
  color: $green;
  line-height: 110%;
}


#main .page-error {
  background: #f4f4f4;
  border: $grey 3px solid;
  min-height: 70px;
  min-width: 300px;
  float: center;
  padding: 40px 50px 10px 50px;
  white-space: nowrap;
  p {
    font-weight: bold;
    font-size: 150%;
  }
}

.plan_wrapper {
  position: relative;
  overflow: auto;
}

.share_description {
  font-style: italics;
  padding-bottom: 20px;
}
.rights_block {
  width: 47%;
  margin-right: 30px;
  float: left;
  min-width: 400px;
  .nested-fields {
    & > fieldset.inputs {
      margin-bottom: 4px;
    }
    input[type=text] {
      left: 0;
      width: 60%;
    }
    fieldset.choices {
      width: 20%;
      left: 75%;
      ol.choices-group {
        padding: 0 0;
        margin: 0 0;
        left: 0;
        width: 100%;
        position: relative;
        li.choice {
          padding: 0 0;
          margin: 0 0;
          label {
            left: 2em;
            padding-top: 0;
          }
          input {
            left: -1.5em;
            width: 40%;
          }
        }
      }
    }
  } 
}

#rights_tabs {
  .ui-tabs-hide {
    display: none;
  }
  ul.share {
    padding-bottom: 0.5em;
    padding-left: 0;
    li {
      line-height: 30px;
      list-style: none;
      display: inline;
        
      a {
        @include light-button;
        margin-right: 10px;
        white-space: nowrap;
        
        &:hover { 
          color: $offwhite; @include icon-color($offwhite);
          @include gradient(darken($orange, 5%), lighten($orange, 5%));     
          @include text-shadow(darken($orange, 12%));   
        }
      }
      
      &.ui-tabs-selected a {
        @include gradient(lighten($orange, 5%), darken($orange, 5%));
        @include icon-color($offwhite);
        color: $offwhite;
        @include text-shadow(darken($orange, 12%));
      }
    }
  }
}

.read_only {
  font-size: 120%;
  font-weight: bold;
  color: $red;
  padding-bottom: 0.2em;
}

.external-write {
  background: $red;
  color: $offwhite;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 1em;
}

.plan-owner {
  display: block;
  color: $grey;
  font-size: 70%;
  font-weight: normal;
}

.cancel_account {
  background: #f4f4f4;
  border: $grey 3px solid;
  width: 300px;
  float: right;
  padding: 1em;
}

form.user {
  .inline-hints {
    width: 76%;
    margin-left: 17%;
    margin-top: -20px;
    margin-bottom: 10px;
    font-style: italic;
  }
  li.boolean {
    float:none;
    label {
      padding-left: 15.5%;
      text-align: left;
      width: 70% !important;
    }
  }
  fieldset.choices {
    ol.choices-group {
      margin-bottom: 1em;
      li.choice {
        display: block;
        float: none;
        margin: 0 0 0 0;
        label {
          text-align: left;
        }
        input[type=checkbox] {
          margin-bottom: 0;
        }
      }
    }
  }
}

.session {
  padding-left: 10px; 
  a.nav_link {
    margin-bottom: 1em;
    display: inline-block;
    float: none;
  }
}

.constraint {
  clear: both;
  width: 100%;
  font-weight: bold;
  border: solid 2px red;
  padding: 0.3em 1em;
  margin-bottom: 1em;
}
